@font-face {
    font-family: 'utmavobold';
    src: url('../fonts/utmavobold.eot');
    src: local('utmavobold'), url('../fonts/utmavobold.woff') format('woff'), url('../fonts/utmavobold.ttf') format('truetype');
}

/* Set width on the form input elements since they're 100% wide by default */
.accumulate-points input {
    /*max-width: 280px;*/
    min-width: 100%;
    border: 1px solid #189d4e;
    border-radius: 3px;
    height: 40px;
    padding: 5px;
}

.accumulate-points ::-webkit-input-placeholder {
    color: #bcbcbc;
    font-style: italic;
}

.accumulate-points :-moz-placeholder { /* Firefox 18- */
    color: #bcbcbc;
    font-style: italic;
}

.accumulate-points ::-moz-placeholder { /* Firefox 19+ */
    color: #bcbcbc;
    font-style: italic;
}

.accumulate-points :-ms-input-placeholder {
    color: #bcbcbc;
    font-style: italic;
}

.accumulate-points button {
    width: 100px;
    background-color: #189d4e !important;
    border-radius: 3px;
    font-weight: bold !important;
    border: 1px solid #189d4e !important;
}

.accumulate-points .form-group {
    text-align: center;
    margin-bottom: 15px;
}

.accumulate-points .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}